@model MoneyApp.Models.Customer

@{
    ViewData["Title"] = "Edit";
}


<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-secondary text-uppercase text-white">
            <h4>Edit Customer </h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="CustomerId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PayCentreId" class="control-label"></label>
                            <select asp-for="PayCentreId" class="form-control" asp-items="ViewBag.PayCentreId"></select>
                            <span asp-validation-for="PayCentreId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UploadReceipts" class="control-label"></label>
                            <input asp-for="UploadReceipts" class="form-control" />
                            <span asp-validation-for="UploadReceipts" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UpdateBy" class="control-label"></label>
                            <input asp-for="UpdateBy" class="form-control" />
                            <span asp-validation-for="UpdateBy" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-secondary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-secondary rounded-0 text-uppercase"><i class="fa fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
